In [1]:
import pandas as pd

In [3]:
# Load the dataset
df = pd.read_csv("Salaries.csv")

In [5]:
# Show basic info
print("Dataset Preview:")
print(df.head())

Dataset Preview:
   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [17]:
print("Columns in the dataset:")
print(df.columns.tolist())

Columns in the dataset:
['rank', 'discipline', 'phd', 'service', 'sex', 'salary']

In [7]:
# Summary statistics
print("\nSummary Statistics:")
print(df.describe(include='all'))

Summary Statistics:
        rank discipline        phd    service   sex         salary
count     78         78  78.000000  78.000000    78      78.000000
unique     3          2        NaN        NaN     2            NaN
top     Prof          B        NaN        NaN  Male            NaN
freq      46         42        NaN        NaN    39            NaN
mean     NaN        NaN  19.705128  15.051282   NaN  108023.782051
std      NaN        NaN  12.498425  12.139768   NaN   28293.661022
min      NaN        NaN   1.000000   0.000000   NaN   57800.000000
25%      NaN        NaN  10.250000   5.250000   NaN   88612.500000
50%      NaN        NaN  18.500000  14.500000   NaN  104671.000000
75%      NaN        NaN  27.750000  20.750000   NaN  126774.750000
max      NaN        NaN  56.000000  51.000000   NaN  186960.000000

In [19]:
# Check if required columns are present
if 'rank' in df.columns and 'salary' in df.columns:
    # Clean salary column if needed
    df['salary'] = pd.to_numeric(df['salary'], errors='coerce')
    
    # Average salary by rank
    avg_salary = df.groupby('rank')['salary'].mean().sort_values(ascending=False)
    print("\nAverage Salary by Rank:")
    print(avg_salary)
else:
    print("\nRequired columns ('rank' and 'salary') not found in the dataset.")

Average Salary by Rank:
rank
Prof         123624.804348
AssocProf     91786.230769
AsstProf      81362.789474
Name: salary, dtype: float64